.notes-title{
    font-size: 30px;
    height: 3%;
}
.notes-main-container{
    display: flex;
    flex-direction: column;
    height: 88%;

}
.notes-content-container{
    display: flex;
    flex-direction: column;
    margin: 1vw;
    height: 100%;
    border: solid 3px #009600;
    border-radius: 20px;
    overflow: scroll;
    scrollbar-width: none;

}
.notes-add-button{
    color: #009600;
    background-color: #121212;
    border-bottom: solid 3px #009600;
    border-radius: 0;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}
.note-item{
    border: solid 3px #009600;
    border-radius: 10px;
    margin: 5px 5px 0px 5px;
    position: relative;
}
.note-title{
    font-size: 20px;
    margin: 5px;
    overflow-wrap: break-word;
}
.note-content{
    font-size: 14px;
    overflow-wrap: break-word;
}
.collapse-button{
    color: #009600;
    background-color: #121212;
    border: solid 3px #009600;
    border-radius: 30px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 2px;
}
.note-form-main-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}
.note-form-title{
    font-size: 30px;
    margin: 10px;
}
.note-form-title-input{
    font-size: 20px;
    margin: 10px 0px 50px 0px;
}
.note-form-content-input{
    color: #009600;
    background-color: #121212;
    border: solid 3px #009600;
    border-radius: 10px;
    height: 50%;
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    font-family: 'FalloutJH';
}
.note-form-save-button{
    color: #009600;
    background-color: #121212;
    border: solid 3px #009600;
    border-radius: 15px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    margin: 5px
}