.saveload-button{
    color: #009600;
    border: solid 3px #009600;
    border-radius: 20px;
    width: 90vw;
    margin: 5px;
    font-size: 15px;
}
.saveload-main-container{
    display: flex;
    flex-direction: column;
}
.saveload-button-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.saveload-slot-container{
    border: solid 3px #009600;
    border-radius: 20px;
    margin: 5px;
    width: 80vw;
    padding-bottom: 10px;
}
.saveload-slot-title{
    font-size: 20px;
    border-bottom: solid 3px #009600;
    margin: 0 0 0 0;
    width: 100%;
    padding: 10px
}
.saveload-slot-name{
    font-size: 15px;
}
.saveload-slot-timestamp{
    font-size: 15px;
}
.saveload-slot-button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.saveload-slot-button{
    color: #009600;
    border: solid 3px #009600;
    border-radius: 10px;
    width: 40%;
    margin: 5px;
    font-size: 15px;
}