#root {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.shader{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close-shader-button{
  position: absolute;
  top: 5vw;
  width: 90%;
  background-color: #121212;
  border: solid 3px #009600;
  border-radius: 20px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
.popup-content-container{
  width: 90%;
  height: 85%;
  background-color: #121212;
  border: solid 3px #009600;
  border-radius: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin:0;
}
input[type=number] {
  -moz-appearance: textfield;
}